@charset "utf-8";
@import "reset.css";
/*
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
    format("woff");
}
body {
  background-color: #f6f6f6;
}
*/
.test {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}
.test .inner {
  position: absolute;
  width: 80%;
  left: 0px;
  right: 0px;
  margin: 100px auto;
}
.test .inner .question {
  font-family: "GmarketSansBold", sans-serif !important;
  color: #003ffa;
  font-size: 53px;
  margin-bottom: 40px;
}
.test .inner .main {
  font-family: "NanumBarunGothic", sans-serif !important;
  color: #5b5b5b;
  font-size: 46px;
  font-weight: 300;
}

.test .contents button {
  width: 800px;
  height: 150px;
  background-color: #003ffa;
  font-size: 32px;
  color: #e8e7e7;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
  transition: 0.3s;
  margin-bottom: 50px;
}

.test .contents {
  position: absolute;
  width: 800px;
  height: 500px;
  padding: 10px;

  left: 0px;
  right: 0px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}
.test .contents button:focus {
  outline: 0;
}
.test .contents button:hover {
  background: rgba(0, 79, 255, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
}

.test .arr button{
   color: rgba(0, 79, 255, 0.9); background:transparent; border: none;
   font-size: 100px; cursor: pointer; position: relative; left: 16%;
   top: 568px; transition: 0.3s all;
}
.test .arr button:hover, .test .arr button:focus{
  outline:none; top:565px; color: rgba(0, 79, 255, 0.6);
}
.test .arr  {
 text-align: left;
}

